* {
  margin: 0;
  padding: 0;
}
/* styling container*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
/* input form*/
.form {
  height: 90vh;
  width: 400px;
  background: #f6c453;
  opacity: 0.5;
  border-radius: 20px;
  box-shadow: black;
  border-top: 1px solid #f6c453;
  border-left: 1px solid #f6c453;
}
/* styling heading*/
h3 {
  text-align: center;
  position: relative;
  top: 20%;
  font-weight: 500;
  font-size: 35px;
  color: black;
  font-family: Comic Sans MS;
}
/* input section*/
.input {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.input input {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  margin: 20px;
  height: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #f0a04b;
}
/* button*/
button {
  background-color: green;
  outline: none;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px 12.5px;
  color: white;
  margin: 10px 90px;
  cursor: pointer;
}
button:hover {
  background-color: red;
}
/* paragraphsr*/
p {
  color: blue;
  text-align: center;
  font-weight: bold;
}
/* body*/
body {
  background-color: #e1eedd;
}
/* placeholder*/
::placeholder {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
